<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Script Formatter</title>

  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

  <h1>Script Formatter</h1>

  <div class="container">
    <div class="row">
      <input id="btnSubmit" class="form__input form__input--button" type="button" value="Format">
      <textarea class="java" name="" id="txtScript" cols="30" rows="10" placeholder="Script goes here..."></textarea>
      <p>If you encounter any issues, ping @rzoleta in Slack.</p>
    </div>
    </div>
  </div>

  <script src='/static/js/index.js'></script>
  
</body>
</html>